.column {
  background: #dedede;
  border-radius: 8px;
  padding: 12px;
  width: 300px;
}

.title {
  margin-bottom: 12px;
  font-size: 18px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}