.card {
  background: #7d7d7d;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}